@charset "UTF-8";
/* CSS Document */
article{
	width: 50%;
	margin: 0 auto;
}

body {
  background-color: white;
  margin: 50px;
  text-align: justify;
}
h1{
  font-family:  'Georgia';
  color:#4A4949;
  font-size: 60px
}
h2{
  font-family:  'Georgia';
  color:#4A4949;
  font-size: 26px
}
h3{
	font-family: 'Georgia',bold;
  color:#4A4949;
  font-size: 22px
}
h4{
	font-family: 'Georgia';
  color:#4A4949;
  font-size: 18px;
}

h5{
	font-family: 'Georgia';
  color:#4A4949;
  font-size: 18px
}

p{
	font-family: 'Georgia';
  color:#4A4949;
  font-size: 24px
}
p2{
	font-family: 'Georgia';
  color:#4A4949;
  font-size: 20px
}
div{
	background-color:#EFF8F8;
	padding-left: 100px;
	padding-top: 5px;
	padding-bottom: 30px;
}
li{
	font-family: 'Georgia';
  color:#0B2E5D;
  font-size: 18px;
list-style-type: none;
}
opacity{
	color:#969696
}
